/* img{
    -webkit-clip-path: circle(49.3% at 50% 49%);
     clip-path: circle(49.3% at 50% 49%);
} */
/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}
/*Navigation Bar Logo and Images */
#logo{
margin: 10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
}
/*Navigation Bar List styling */
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
  font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li a:hover{
  color: white;
  background-color: black;
}

/* Home Section */
#home{
    display:flex;
    flex-direction:column;
    padding:3px 200px;
    justify-content: center;
    align-items:center;
    height:633px;
}

#home:before{
    content: "";
    position:absolute;
    background:url('Images/Background.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89; 
}

#home h1{
    color:azure;
    text-align:center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:azure;
    text-align:center;
    font-family: 'Bree Serif', serif;
}

/* Services Section */
#services{
    margin:34px;
    display:flex;

}

#services,.box{
    border:2px solid brown;
    padding:34px;
    margin:3px 6px;
    border-radius:28px;

}

#services,.box img{
    height:160x;
    margin:auto;
    display:block;
}



/* utility classes */
.h-primary{
    font-size:4rem;
    padding:12px;
}

.h-secondary{
    font-size:2.8rem;
    padding:12px;
}
.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}
