img{
    -webkit-clip-path: circle(49.3% at 50% 49%);
     clip-path: circle(49.3% at 50% 49%);
}

*{
    margin:0;
    padding:0;
}

:root{
    --navbar-height:59px;
}

/*Navigation Bar*/
#navbar{
    display:flex;
    align-items:center;
}

/*Logo and Image*/
#logo{
    height:56px;
    margin:35px 45px;
}
/* List styling */