body{
    background-color:rgb(235, 192, 199)
}

.border{
    margin:80px 80px 20px;
    background-color: white;
    border-radius:35px;
}
p{
    margin-left:20px;
    font-size:25px;
}

button {
    margin: .5em;
    font-size: 1em;
    text-transform: capitalize;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;
    
  }

#submitbutton {
    display: flex; 
    justify-content: center;
  }